/*
Autora ----------- Melissa Leal (https://github.com/melissaleal)
Instituicao ------ FATEC Marilia
Curso ------------ Desenvolvimento de Software Multiplataforma 
Materia ---------- Desenvolvimento Web I
Conteudo --------- Seletores no CSS
Atividade -------- Exercicio de aula
Data de criacao -- 12/03/2024
*/

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tituloSite h1{
    color: #DDAFB4;
    font-size: 3em;
    text-align: center;
}

header #logo img{
    width: 100px;
}

nav li{
    list-style: none;
}

nav a:link, a:visited{
    color: #4A3227;
    background-color: #DDAFB4;
}

nav a:hover{
    color: #fff;
}

.introducao h2{
    font-size: 1.5em;
    color: #DDAFB4;
    background-color: #fff;
}

.introducao h3{
    color: #4A3227;
}

.introducao p{
    font-size: 0.9em;
    text-align: justify;
}

.parabens{
    background-color: #4A3227;
    color: #fff;
}

.citacoes p{
    background-color: #DDAFB4;
    color: #4A3227;
    text-align: center;
}

.citacoes p::before{
    content: open-quote;
}

.citacoes p::after{
    content: close-quote;
}

footer p{
    text-align: center;
}